<!-- Komponent til visning af en popup med klikbare spilnavne for navigation til produktsider. 
Visning styres af ShowPopup-parameteren. -->
@if (ShowPopup)
{
    <div class="search-popup">
        @foreach (var game in Games)
        {
            <div class="game-item" @onclick="() => NavigateToGame(game)">
                @game.gameName
            </div>
        }
    </div>
}

@code {
        // Parameter for at kontrollere, om popup'en skal vises.

    [Parameter]
    public bool ShowPopup { get; set; }
    // Parameter for at modtage en liste over spilobjekter, der skal vises i popup'en.
    [Parameter]
    public List<Item> Games { get; set; }

    public void NavigateToGame(Item game)
    {
        NavigationManager.NavigateTo($"/product/{game.itemID}", forceLoad: true);
    }
}
