@page "/"

<PageTitle>Gamers Lounge</PageTitle>
@*Top sektionen af home poge, opdelt i 2 kolonner.*@
<div class="body">
	<div class="section">
		<div class="container text-center">
			<div class="row">
				<div class="left-colum">
					<h2 class="header-top-section">Buy and Sell Used Video Games</h2>
					<p>Discover a wide selection of pre-owned video games and console. Start buying or selling today.</p>
					<a href="/productlist" class="btn btn-dark">Browse sales</a>
					<a href="/login" class="btn btn-dark">LogIn</a>
					<a href="/register" class="btn btn-dark">Register</a>
				</div>
				<div class="right-colum">
					<img src="./Picture/Front.jpg" alt="" class="colum-image" />
				</div>
			</div>
		</div>
	</div>
	@*kalder på CarouselProductCard importer de 3 type bestemte lister ind i filen.*@
	<div class="carousel-container">
		<CarouselProductCard pcGamesToShow="@pcGameToShow" psGamesToShow="@psGameToShow" xboxGamesToShow="@xboxGameToShow"></CarouselProductCard>
	</div>
</div>

@code {

	public List<Item> pcGameToShow;
	public List<Item> xboxGameToShow;
	public List<Item> psGameToShow;
	//Det som koden skal gøre når siden først bliver loaded.
	protected override void OnInitialized()
	{
		//FT er en file navigering til den class der indeholder den funktion der bliver brugt. 
		pcGameToShow = FT.FiltreToPC_Games(DB.allItems);
		psGameToShow = FT.FiltreToPS_Games(DB.allItems);
		xboxGameToShow = FT.FiltreToXBOX_Games(DB.allItems);
	}
}