.container {
    margin-top: 5%;
    min-height: 100vh;
}

.card {
    background-color: #b3b3b3;
    width: 100%;
}

.card-header {
    background-color: #b3b3b3;
    text-align: center;
    font-weight: bold;
    max-width: 100%;
}

.card-body{
    max-width: 100%;
}

.label {
    margin-top: 0.5rem;
}

.form-control {
    margin-top: 0.5rem;
}

.btn{
    margin-top: 1rem;
}
